.chart_wrapper {
  height: 50%;
}

.chart_wrapper canvas {
  margin: 0 auto;
  position: absolute;
  left: 25%;
}

.xception_wrapper {
  max-height: 100%;
  height: auto;
  width: 80%;
  margin-left: 20px;
}

.xception_wrapper canvas {
  margin: 0 auto;
}
